<div class="container">
    <h1><%= @room.room_name %></h1>
    <h4>RM <%= @room.rate %></h1>
    <h4><%= @room.capacity %> people capacity</h1>
    
    <div class="row mt-5">
        <h5>Book now</h5>
    </div>

</div>