
<!-- login form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 border rounded mt-5 bg-light">
            <h3 class="text-center">Login</h3>

            <form action="/login" method="post">
                <div class="form-group p-3 m-1">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="username" required>
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" required>
                    <button class="btn btn-primary mt-3 form-control" type="submit">Login</button>
                    <p><a href="/regpage">Register</a></p>
                </div> 
            </form>

        </div>
    </div>
</div>

