<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 border rounded mt-5 bg-light">
            <h3 class="text-center">Register</h3>
            <form action="/register" method="post">
                <div class="form-group p-3 m-1">
                    <label for="">Enter Username</label>
                    <input type="text" class="form-control" name="username" required>

                    <label for="">Enter Password</label>
                    <input type="password" class="form-control" name="password" required>

                    <button class="btn btn-primary mt-3 form-control" type="submit">Create</button>
                    <p><a href="/">Login</a></p>
                </div> 
            </form>
        </div>
    </div>
</div>